.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  width: 280px;
  border-radius: 12px;
  border: 1px solid #0810ff;
  text-align: start;
  padding: 10px;
}

.text_content {
  margin-bottom: 20px;
}

.links_wrapper {
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  background-color: #0810ff;
  border-radius: 8px;
  border: 1px solid #0810ff;
  &:hover {
    background-color: transparent;
  }
}
